a:link
{
	color: rgb(204,153,51);
}
a:visited
{
	color: rgb(153,153,102);
}
a:active
{
	color: rgb(255,204,51);
}
body
{
	color: rgb(204,204,204);
	background-color: rgb(0,0,0);
}
h1
{
	color: rgb(204,102,0);
}
h2, marquee
{
	color: rgb(204,153,51);
}
h3
{
	color: rgb(255,204,0);
}
h4
{
	color: rgb(204,102,0);
}
h5
{
	color: rgb(204,153,51);
}
h6
{
	color: rgb(255,204,0);
}
HR
{
	color: rgb(255,204,0);
}
BUTTON 
{
	background-color: rgb(204,102,0);	
	border-color: rgb(204,102,0);
	color: black;
}
LABEL, .MSTHEME-LABEL
{
	color: rgb(204,204,204);
}
TEXTAREA
{
	border-color: rgb(153,102,0);
	color: black;
}
FIELDSET
{
	border-color: rgb(153,102,0);
	color: white;
}
LEGEND
{
	color: rgb(255,204,0);
}
SELECT
{
	border-color: rgb(153,102,0);
	color: black;
}
TABLE
{
	table-border-color-light: rgb(204,102,0);
	table-border-color-dark: rgb(153,102,0);
	border-color: rgb(153,102,0);
	color:rgb(204,204,204);
}
CAPTION 
{
	color: rgb(255,204,0);
}
TH
{	
	color: rgb(204,204,204);
	border-color: rgb(153,102,0);
}
TD
{
	border-color: rgb(153,102,0);
}