vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Nov 2004 18:09:26 -0000
vti_author:SR|Dad
vti_modifiedby:SR|Dad
vti_timecreated:TR|07 Nov 2004 01:04:08 -0000
vti_backlinkinfo:VX|
vti_extenderversion:SR|4.0.2.8912
vti_syncwith_localhost\\c\:\\documents and settings\\dad\\my documents\\my webs/c\:/documents and settings/dad/my documents/my webs:TR|06 Nov 2004 18:09:26 -0000
vti_cacheddtm:TX|07 Nov 2004 01:04:08 -0000
vti_filesize:IR|5554
vti_cachedlinkinfo:VX|S|safband.gif S|safnavhd.gif S|safnavhs.gif S|safhomed.gif S|safnextd.gif S|safprevd.gif S|safupd.gif S|safglobl.gif S|safnavvd.gif S|safnavvs.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/safari/safband.gif FSUS|_themes/safari/safnavhd.gif FSUS|_themes/safari/safnavhs.gif FSUS|_themes/safari/safhomed.gif FSUS|_themes/safari/safnextd.gif FSUS|_themes/safari/safprevd.gif FSUS|_themes/safari/safupd.gif FSUS|_themes/safari/safglobl.gif FSUS|_themes/safari/safnavvd.gif FSUS|_themes/safari/safnavvs.gif
