vti_encoding:SR|utf8-nl
ftp\://ftp.deaconstomb.org/pub/q2/quake2-3.20-glibc-i386-unknown-linux2.0.tar.gz:linux\\ server\\ setup.htm
http\://www.clanwos.org:linux\\ server\\ setup.htm
http\://www.clanwos.org/programs/lox_1_12_7_full.zip:linux\\ server\\ setup.htm installation.htm
http\://www.clanwos.org/forums/viewforum.php:weapons.htm lox\\ development.htm
mailto\:windowmeister@hotmail.com:weapons.htm history.htm lox\\ development.htm
ftp\://ftp.idsoftware.com/idstuff/quake2/unix/quake2-3.20-glibc-i386-unknown-linux2.0.tar.gz:linux\\ server\\ setup.htm
http\://www.clanwos.org/forums:linux\\ server\\ setup.htm
mailto\:wyrm@telefragged.com:history.htm
mailto\:deacon@deaconstomb.org:linux\\ server\\ setup.htm
http\://www.deaconstomb.org:linux\\ server\\ setup.htm
http\://icculus.org/quake2/:linux\\ server\\ setup.htm
http\://www.idsoftware.com/games/quake/quake2/:linux\\ server\\ setup.htm
ftp\://ftp.deaconstomb.org/pub/q2/mods/lox/lox_1_12_7_full.zip:linux\\ server\\ setup.htm
ftp\://ftp.idsoftware.com/idstuff/quake2:linux\\ server\\ setup.htm
ftp\://ftp.deaconstomb.org/pub/q2/v3_21/:installation.htm
mailto\:jblabs@aracnet.com:history.htm
http\://clanwos.org/forums/profile.php:linux\\ server\\ setup.htm
ftp\://ftp.deaconstomb.org:linux\\ server\\ setup.htm
http\://bw-admin.sourceforge.net/:linux\\ server\\ setup.htm
http\://www.clanwos.org/docs/loxlinux/:linux\\ server\\ setup.htm
http\://www.clanwos.org/programs/lox_1_12_7_update.zip:installation.htm
